<div class="form-style-6">
  <h1>Sign in</h1>
  <%=form_tag('/login', method: 'post') do %>
      <%=text_field_tag :name, nil, :class => "form-control", :placeholder => "Username" %><br />
      <%=password_field_tag :password, nil, :class => "form-control" ,:placeholder => "Password" %><br />
      <%=submit_tag 'Login', :class => "float" %>
  <% end %>
</div>